/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Play&family=Titan+One&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: rgb(239, 242, 245);
    // font-size: 1rem;
}

.dark {
    background: rgb(27, 27, 27);
    color: white;
}

.black {
    background: black;
    color: white;
}

/* global styles */
a {
    cursor: pointer;
    display: block;
    text-decoration: none;
}


/* header */
.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: calc(100vw - 260px);
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header i {
    cursor: pointer;
}

.header i:hover {
    color: red;
}

.header__controls {
    height: 100%;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    /* width: 100%; */
}

.header__title {
    /* border: 1px solid yellow; */
    /* display: block; */
    width: 100%;
    text-align: center;
    color: white;
    display: grid;
    align-items: center;
    /* border: 1px solid orange; */
}

.header__right {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    align-items: center;
}

.header__controls i {
    /* margin-left: 1.8rem; */
    min-width: 78px;
    text-align: center;
}

.header__user {
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    gap: 1rem;
    
}

.header__user i {
    font-size: 16px;
    color: white;
    margin-right: 1rem;
}

.header__username {
    color: white;
    display: none;
}

@media screen and (min-width: 768px){
    .header__username{
        display: block;
    }
}

.header__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid white;
    cursor: pointer;
    position: relative;
    background: white;
}

.header__image img {
    height: 36px;
    width: 36px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
}

/* img upload */
.header__upload {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 60px;
    right: 10px;
    background: lightgray;
    padding: 1rem;
    z-index: 2;
    border-radius: 1rem;
    visibility: hidden;
    /* transform: translateX(100%); */
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.header__upload input {
    cursor: pointer;
}

.header__upload::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent lightgray transparent;
}

.visible {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 260px;
    /* background: #11101d; */
    background: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

@media screen and (min-width: 992px){
    .sidebar {
        z-index: 1;
    }
}

.sidebar.hide {
    transform: translateX(-100%);
    overflow: hidden;
}

.sidebar.open .sidebar__links li .sidebar_sub {
    position: absolute;
}

.sidebar__brand {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar__company {
    font-size: 22px;
    color: white;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 2rem;
    color: red;
}

.sidebar__company i {
    height: 50px;
    // min-width: 78px; 
    text-align: center;
    line-height: 50px;
}

.sidebar__links {
    height: 100%;
    padding-top: 30px;
}

.sidebar__links li {
    // position: relative;
    list-style-type: none;
    transition: all 0.4s ease;
}

.sidebar__links li:hover {
    /* background: yellow; */
}

.sidebar__links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.sidebar__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}


.active {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: darkgray;
}


.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 78px;
}

.number {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
}

.sidebar__link a {
    text-decoration: none;
    color: #fff;
}

.sidebar__name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.sidebar__name:hover {
    color:red;
}

.sidebar__sublinks {
    padding: 6px 6px 14px 80px;
    background: rgb(27, 27, 27);
    display: none;
    opacity: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 1rem;
}

.sidebar__sublinks a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    text-decoration: none;
}

.sidebar__sublinks a:hover {
    color: red;
}

.sub {
    cursor: pointer;
    transition: all 0.3s ease;
}

.sub:hover {
    color: red;
}

.showSub {
    display: block;
    opacity: 1;
}

.sub.rotate {
    transform: rotate(-90deg);
}

/* add button */
.add__button {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 2;
}

.add__button i {
    text-align: center;
    font-size: 2rem;
    color: white;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    display: grid;
    place-items: center;
    z-index: 1;
    /* opacity: 0; */
    overflow-y: scroll;
} 


.modal__container {
    // position: fixed;
    max-width: 500px;
    width: 90%;
    // height: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    // height: 400px;
    
} 
 
.showModal {
    width: 100vw;
    min-height: 100vh;
    transform: translateX(0);
    /* opacity: 1; */
    
}

/* form */
.modal__form {
    z-index: 2;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: white;
    display: grid;
    gap: 1fr;
}


.form__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.close {
    // position: relative;
    // left: 95%;
    font-size: 2rem;
    color: red;
    cursor: pointer;
}

.close:hover {
    transform: scale(1.1);
}

.form__inputs,
textarea, 
select,
option{
    padding: 0.5rem;
}

input:focus,
textarea:focus,
select:focus {
    outline-color: blue;
}

select, 
input[type=date]{
    cursor: pointer;
}

.modal__form button {
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.form__button {
    background: red;
    color: white;
    font-weight: bold;
    border: none;
    letter-spacing: 1px;
}
.modal__form .form__inputs, 
.modal__form textarea
.modal__form select {
    // margin-bottom: 1rem;
    padding: 0.5rem;
}

.date__error,
.message__error,
.title__error {
    color:red;
    transition: all 0.2ms ease-in-out;
}

.red {
    color: red;
    font-weight: bold;
}

/* footer */
footer{
    position: fixed;
    bottom: 0;
    left:0;
    height: 80px;
    width: 100%;
    background: black;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__link{
    color: white;
    padding-left: 0.3rem;
    cursor: pointer;
}

.footer__text{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

/* container */
.container {
    position: fixed;
    //left: 260px;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    height: calc(100vh - 125px);
    z-index: -1;
    overflow-y: scroll;
    border-bottom: 1px dotted lightgray;
}


@media screen and (min-width: 992px){
    .container {
        position: fixed;
        left: 260px;
        top: 50px;
        width: calc(100vw - 260px);
        z-index: -1;
    }
}

// todo
.todos {
    display: grid;
    gap: 1rem;
    // max-width: 600px;
    
}

.todo, 
.description {
    max-width: 600px;
    width: 90vw;
    margin: 0 auto;
    //cursor: pointer;
    padding: 0.5rem;
    background: white;
}

.todo__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// .todo__priority {
//   padding: 0.20rem .4rem;
//   border-radius: 1rem;
//   letter-spacing: 1px;
// } 

.priority {
  padding: 0.20rem .4rem;
  border-radius: 1rem;
  letter-spacing: 1px;
}

.high {
    background: red;
}

.normal {
    background: lightgreen;
}

.todo__delete, .todo__edit, .todo__more {
    font-size: 1.2rem;
    border: none;
    background: transparent;
    margin-left: 0.5rem;
    cursor: pointer;
}

.todo__delete {
    color: red;
}

.todo__edit {
    color: green;
}

.todo__details {
  max-width: 600px;
  margin: 0 auto;
  display: none;
  background: white;
}


.todo__more {
    font-size: 1.9rem;
}

.todo__title{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 992px){
    .todo__title{
        //width: 100%;
        white-space:unset;
        overflow:visible;
        text-overflow:unset;
    }
}
.todo__container {
  width: 100%;
}

.showDetails {
  display: grid;
//   max-width: 90vw;
  border-top: 1px dotted lightgray;
}

.fulltitle{
    padding: 0.5rem;
}

.project__title,
 .task__title,
 .inbox__title,
 .pomodoro__title {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

.hide {
    display: none;
}

// inbox
.inbox {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: white;
    margin: 0 auto;
    max-width: 600px;
    width: 90vw;
    padding: 0.5rem;
}

.checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.message__container{
    padding: 2rem;
    max-width: 700px;
    width: 90vw;
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inbox__subject{
    margin-left: 2rem;
    display:block;
    width: 100%;
} 

.inbox__status{
    text-align: center;
}

.inbox__button {
    
    padding: 0.5rem;
    cursor: pointer;
    color: white;
    background: red;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.bold{
    font-weight: bold;
}   

/* calculator */
.calc__wrapper{
    height: 100%;
}

.calc__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 300px;
    background-color: white;   
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.display-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    height: 100px;
    background-color: black;
    box-shadow: inset 2px 2px 2px 2px darkgray;
    width: 100%;
    overflow: hidden;
    padding-left: 1rem;
}

.display {
    width: 95%;
    width: 100%;
    color: lightgray;
    font-family: 'Play', sans-serif;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.calc {
    margin-right: 2px;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: auto;
    font-size: 25px;
    box-shadow: inset 2px 2px 2px 2px darkgray;
    background-color: lightgray;
    cursor: pointer;
}

.equals {
    width: 125px;
    border-radius: 25px;
    grid-column: 3 / 5;
}

.btn:hover {
    opacity: 0.8;
    box-shadow: inset 2px 2px 2px 2px black;
}

.divide, .multiply, .subtract, .add, .equals {
    background-color: red;
    box-shadow: inset 2px 2px 2px 2px darkred;
}

.clear, .negative, .percent, .backspace {
    background-color: lightseagreen;
    box-shadow: inset 2px 2px 2px 2px seagreen;
}

/* login form*/
.login__container {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background: linear-gradient(to bottom right, black 0%, black 35%, white 35%, white 65%, red 65%, red 100%);
  color: red;
  //mix-blend-mode: difference;
  display: grid;
  place-items: center;
  z-index: 1;
  overflow-y: scroll;
}


.form__container {
  
  width: 90vw;
  background: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px){
    .form__container{
        width: 500px;
    }
}

.form__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid lightgray;
  position: relative;
  
}

.form__signup, .form__login {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  z-index: 1;
  color: black;
}

.form__login {
  color: black;
}

.form__cover {
 position: absolute;
  left: 0;
  width: 50%;
  border: 2px solid red;
  height: 100%; 
  background: red;
  z-index: 0;
}

.active {
  color: white;
  transition: all 0.6s;
}

.moveRight {
  transform: translateX(100%);
  transition: all 0.6s;
}

.moveLeft {
  transform: translateX(0);
  transition: all 0.6s;
}

.form{
  display: grid;
  padding: 2rem;
  //padding: 3rem 4rem;
  gap: 2rem;
  position: relative;
}

@media screen and (min-width: 768px){
    .form{
        padding: 3rem 4rem;
    }
}

.form__group{
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__input {
  padding: 0.75rem;
  height: 100%;
}

.form__input:focus ~ .form__label,
.form__input.form__input:not(:focus)~.form__label
{
  top: -9px;
  color: black;
  padding: 0.1rem;
  font-size: 0.9rem;
  background: white;
}

.form__label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: gray;
  transition: all 0.3s;
}

// h1 {
//   text-align: center;
// }

.form__button {
  padding: 0.65rem;
  font-weight: bold;
  font-size: 1.1rem;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

.form__section {
  display: grid;
  gap: 2rem;
}

.display {
  display: grid;
  transition: all 0.6s;
}

.hide {
  display: none;
  transition: all 0.6s;
}

.login__title {
    text-align: center;
}


/* pomodoro */
.pomodoro__container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.pomodoro {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}

.pomodoro__timer {
    font-size: 6rem;
    font-family: Play;
    font-weight: bold;
}

.end {
    background: red;
}

.pomodoro__buttons{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin-top: 3rem;
    gap: 2rem;
}
.pomodoro__button{
    padding: 0.75rem;
    background: red;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

//settings
.settings{
  display: grid;
  max-width: 500px;
  width: 90vw;
  margin: 0 auto;
}

.settings__form{
  padding: 1rem;
  gap: 1rem;
  display: grid;
  background: white;
}

.settings__wrapper{
  width: 100%;
}

.settings__button{
    padding: 0.75rem;
    background: red;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

// dashboard
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  align-items: center;
  text-align: left;
}

.quote-container {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: white;
}

.quote {
  display: flex;
  flex-direction:column;
  gap: 2rem;
}

.motivation {
  font-weight: bold;
  font-size: 2rem;
}

blockquote {
  font-size: 1.3rem;
  font-style: italic;
}

.author {
  display: inline-block;
  align-self: flex-end;
  margin-right: 5rem;
  font-size: 1.1rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;
  gap: 2rem;
  font-size: 1.5rem;
}

.dashboard-tasks,
.dashboard-unread,
.dashboard-overdue,
.dashboard-today {
  border-radius: 1rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  color: black;
  height: 400px;
  background: white;
}

.today-count,
.overdue-count,
.unread-count,
.tasks-count {
  font-size: 5rem;
  font-weight: bold;
  color: red;
}

.dashboard-wrapper i {
  font-size: 3rem;
  background: black;
  border-radius: 50%;
  padding: 2rem;
  color: white;
}

.dashboard-tasks:hover,
.dashboard-unread:hover,
.dashboard-overdue:hover,
.dashboard-today:hover {
  background: lightgray;
}

.greeting {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}